In [62]:
!pip install kaggle

Requirement already satisfied: kaggle in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (1.6.3)
Requirement already satisfied: six>=1.10 in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from kaggle) (2023.11.17)
Requirement already satisfied: python-dateutil in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from kaggle) (2.28.1)
Requirement already satisfied: tqdm in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-slugify in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from kaggle) (1.26.12)
Requirement already satisfied: bleach in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from bleach->kaggle) (21.3)
Requirement already satisfied: webencodings in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/iffathfaraz/opt/anaconda3/lib/python3.9/site-packages (from packaging->bleach->kaggle) (3.0.9)

In [63]:
import zipfile
import pandas as pd
import kaggle

# Documentation on how to use Kaggle API

https://www.kaggle.com/docs/api

# Download Dataset from Kaggle by using Kaggle API

In [64]:
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [65]:
import os

# Path to the zip file
zip_file_path = "london-bike-sharing-dataset.zip"

# Directory to extract the files into
extract_dir = "extracted_files"

# Create the extraction directory if it doesn't exist
if not os.path.exists(extract_dir):
    os.makedirs(extract_dir)

# Open the zip file
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    # Extract all contents to the extraction directory
    zip_ref.extractall(extract_dir)

print("Files extracted successfully to:", extract_dir)

Files extracted successfully to: extracted_files

In [66]:
bikes = pd.read_csv("london_merged.csv")

In [67]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [68]:
bikes.shape

(17414, 10)

In [69]:
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [70]:
bikes.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [71]:
bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [72]:
new_column_dict ={
    "timestamp": "Time",
    "cnt":"Count",
    "t1":"Temp_real",
    "t2":"Temp_feels_like",
    "hum":"Humidity_percent",
    "wind_speed":"Wind_speed_kmph",
    "weather_code":"Weather",
    "is_holiday":"is_holiday",
    "is_weekend":"is_weekend",
    "season":"season"
}

bikes.rename(new_column_dict, axis=1, inplace=True)

In [73]:
bikes.head()

,Time,Count,Temp_real,Temp_feels_like,Humidity_percent,Wind_speed_kmph,Weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [74]:
bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [75]:
bikes.Weather.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: Weather, dtype: int64

In [76]:

# Creating a Season dictionary

season_dict = {
    "0.0":"Spring",
    "1.0":"Summer",
    "2.0": "Autumn",
    "3.0":"Winter"
    
}


weather_dist ={
    
    "1.0":"Clear",
    "2.0":"Scattered Clouds",
    "3.0":"Broken Clouds",
    "4.0":"Cloudy",
    "7.0":"Rain",
    "10.0":"Rain with Thunderstrom",
    "26.0":"Snowfall"
}

In [78]:
bikes.season=bikes.season.astype("str")

In [79]:
bikes.season= bikes.season.map(season_dict)

In [82]:
bikes.Weather=bikes.Weather.astype("str")

In [83]:
bikes.Weather= bikes.Weather.map(weather_dist)

In [84]:
bikes.dtypes

Time                 object
Count                 int64
Temp_real           float64
Temp_feels_like     float64
Humidity_percent    float64
Wind_speed_kmph     float64
Weather              object
is_holiday          float64
is_weekend          float64
season               object
dtype: object

In [85]:
bikes.head()

,Time,Count,Temp_real,Temp_feels_like,Humidity_percent,Wind_speed_kmph,Weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,Broken Clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,Clear,0.0,1.0,Winter

In [86]:
bikes.is_holiday.value_counts()

0.0    17030
1.0      384
Name: is_holiday, dtype: int64

In [87]:
bikes.is_weekend.value_counts()

0.0    12444
1.0     4970
Name: is_weekend, dtype: int64

In [88]:
bikes.to_excel("london_bikes_final.xlsx",sheet_name="Data")